.container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.heading {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.des {
  font-size: 22px;
  font-weight: 300;
}
.button {
  background: #53c194;
  padding: 20px;
  width: max-content;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
}
