.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 22px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout {
  border: none;
  cursor: pointer;
  color: white;
  background-color: #53c28b;
  padding: 5px;
  border-radius: 3px;
}
